# PhpStorm project files
.idea

# NetBeans project files
nbproject

# Windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# Ignore sh.exe.stackdump files
sh.exe.stackdump

# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php
sites/example.sites.php

# Ignore paths that contain generated content.
sites/*/files
sites/*/private
sites/*/translations

# Ignore default text files
robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt

# Ignore everything but the "sites" folder ( for non core developer )
.htaccess
.editorconfig
web.config
authorize.php
cron.php
index.php
install.php
update.php
xmlrpc.php
/includes
/misc
/modules
/profiles
/scripts
/themes

# Take this files
!profiles/*/translations/drupal-*.it.po
!sites/all/libraries/*
!sites/all/modules/*
!sites/all/themes/*